.fondos{
    background-color: #f2f2f2;
    border: 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
}

h3{
    font-family: Adobe Caslon Pro;
    color: rgb(47, 47, 47);

}

.icono-medio{
    padding: 100px;
    color: #a9a9a9;

    text-align: center;
}